/*----------MAIN CONTAINERS----------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
}
body {
  background-color: #FF9800;
}
table {
  border-spacing: 0px;
  border: solid 1px #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
td {
  height: 35px;
  width: 35px;
  border: solid 0.5px #FFE0B2;
  text-align: center;
  font-size: 60%;
  color: #FFFFFF;
}
tr {
  border: solid 0.5px #FFE0B2;
  color: #FFFFFF;
}
h1 {
  font-size: 300%;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 185px;
}
.general {
  width: 800px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF9800;
}
.header {
  width: 800px;
  height: 85px;
}
.tableMain {
  margin-top: 20px;
}
.tableRy {
  position: relative;
  float: left;
}
.tableMain {
  position: relative;
  float: left;
}
