/*----------MAIN CONTAINERS----------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
}
body {
  background-color: #FF9800;
}
table {
  border-spacing: 0px;
  border: solid 1px #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
td {
  height: 35px;
  width: 35px;
  border: solid 1px #FFFFFF;
  text-align: center;
  font-size: 60%;
  color: #FFFFFF;
}
tr {
  border: solid 1px #FFFFFF;
  color: #FFFFFF;
}
h1 {
  font-size: 300%;
  font-weight: 100;
  letter-spacing: 1px;
  margin-left: 285px;
}
h2 {
  font-size: 200%;
  font-weight: 100;
  letter-spacing: 1px;
}
.footerText {
  padding-top: 10px;
  font-size: 60%;
  font-weight: 300;
  letter-spacing: 1px;
}
.input {
  width: 150px;
  height: 60px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #FFFFFF;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #FF9800;
  outline: none;
  font-size: 200%;
  font-weight: 100;
}
.general {
  width: 1000px;
  height: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #FF9800;
}
.header {
  width: 1000px;
  height: 85px;
}
.footer {
  padding-top: 20px;
  width: 1000px;
  height: 80px;
}
.tableFi {
  width: 420px;
  height: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.tableRy {
  width: 420px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}
.tableLambda {
  position: absolute;
  top: 140px;
  left: 235px;
  width: 35px;
  height: 770px;
}
.controls {
  width: 200px;
  height: 500px;
  position: absolute;
  top: 140px;
}
.validMessage {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 300px;
  border: solid 1px #FFFFFF;
  border-radius: 5%;
  background-color: rgba(33,33,33,0.8);
}
.fi {
  width: 150px;
  height: 50px;
  border: solid 1px #FFFFFF;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #FF9800;
  outline: none;
}
.calculateButton {
  position: relative;
  height: 100px;
  width: 150px;
  margin-top: 170px;
  background-color: #7C4DFF;
  border-radius: 5%;
  transition: 0.2s;
  outline: 0;
  border: none;
}
.resetButton {
  position: relative;
  height: 100px;
  width: 150px;
  margin-top: 30px;
  background-color: #7C4DFF;
  border-radius: 5%;
  transition: 0.2s;
  outline: 0;
  border: none;
}
.shadow {
  box-shadow: 0 3px 10px rgba(0,0,0,.2), 0 3px 10px rgba(0,0,0,.2);
}
.calculateButton:hover {
  transform: scale(1.1);
}
.calculateButton:active {
  transform: translateY(4px);
}
.resetButton:hover {
  transform: scale(1.1);
}
.resetButton:active {
  transform: translateY(4px);
}
.buttonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
